@font-face {
	font-family: 'Bebas';
	src: url('typo/BebasKai.ttf');
 }

@font-face {
	font-family: 'Champagne';
	src: url('typo/Champagne.ttf');
 }

@font-face {
	font-family: 'Vogue';
	src: url('typo/Vogue.ttf');
}

* {
 margin:0;
 padding:0;
 }

html {
	height:100%;
	scroll-behavior: smooth;
 }

body {
	height: 100%;
	background: url("images/parquet.jpg");
	background-size: 100%;
 }


/* Header */

	#retour{
		position: fixed;
		z-index: 3;
		right: 40px;
		bottom: 5%;
	}

	#retour img{
		height: 50px; 
	}

	header img{
		width: 100%;
		z-index: 2;
	}

	header ul {
		text-align: center;
		position: relative;
		margin-top: -50px;
		background: #f2f2f2;
		font-family: Bebas;
	}
	
	header li {
		display: inline-block;
		margin: 10px 60px;
		font-size: 25px;;
		color: #4c6168;
	}

	li a{
		color: #4c6168;
		text-decoration: none;
	}

	.sousmenu {
	  display: none;
	  position: absolute;
	  background-color: #f2f2f2;
	  min-width: 160px;
	  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.sousmenu a {
	  color: #4c6168;
	  padding: 10px 14px;
	  text-decoration: none;
	  display: block;
	  text-align: center;
	  border-bottom: 1px dashed #74846461;
	}

	.sousmenu a:hover {
		background-color: #d5dfe6;
	}

	.menude:hover .sousmenu{
	 	display: block;
	}

	#animation{
		position: absolute;
		left: 46%;
		margin: 0px auto;
		width: 180px;
		top: 6%;
	}
 }

/* Body */

	#map{
            height:600px; 
            width:80%; 
        }
        
	#main {
		min-height: 100%;
		position: relative;
		font-family: Bebas;
	}

	#content{
		background: #f2f2f2;
		width: 75%;
		margin: 150px auto 0 auto;
		text-align: center;
		font-size: 20px;
		font-family: Champagne;
		padding: 20px 60px 90px 60px;
	}

	h1 {
		font-family: Vogue;
		font-size: 60px;
		font-weight: lighter;
		padding: 50px;
		color: #393d3e;
	}

	h2 {
		font-family: Vogue;
		font-size: 30px;
		font-weight: lighter;
		padding-top: 60px;
		color: #393d3e;
	}

	#content a{
		text-decoration: none;
		color: #7e5535;
	}

	#content p{
		text-align: justify;
	}

	/* Spot */

		img.cssimggauche{
			width: 500px;
			border-radius: 50px;
			margin-bottom: 50px;
		}

		.reponses {
			margin: 30px;
			text-align: left;
		}

		span#if {
			font-size: 28px;
			font-weight: bold;
			text-decoration: underline;
		}

		button {
			background-color: #6ec2d4;
			border: none;
			color: white;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 40px;
			}

		#boite {
			width: 30%;
			border: solid 1px #a0a0a0;
			border-radius: 20px;
			margin: 30px auto;
			padding: 20px;
		}

		#number {
			margin: 10px;
			font-size: 40px;
		}

/* Footer */

	footer {
		background: #b3ced9;
		margin-top: 150px;
		margin-bottom: 0px;
		width: 100%;
		height: 155px;
		text-align: center;
		font-size: 18px;
		font-family: Bebas;
		color: #4c6168;
	 }

	 footer p{
	 	padding-top: 120px;
	 }

	 footer a{
	 	color: #4c6168;
	 	text-decoration: none;
	 }-